.infoLink, .adminLinks{
    padding: 20px;
    margin: 10px;
    flex-grow: 0;

    padding: 10px;
    flex-grow: 1;
    border: solid 1px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-family: Roboto Slab;
    font-weight: bold;
    background-color: #d6fccf;
    color: #2e7346;
}