/* header */
.mainPageHeader {
    position: absolute;
    width: 100%;
    height: 70px;
    left: -1px;

    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Totalizator Simulator */
.mainPageHeaderText{
    text-decoration: none;
    position: absolute;
    left: 30px;
    top: 8px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;

    color: #9ACD32;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerContent {
    list-style-type: none;
    margin-top: 2%;
    margin-left: 80%;
}

li {
    display: inline;
    margin-left: 5% ;
}

.signIn {
    background-color: #82c782;
}
.signUp {
    background-color: #82c782;

}