
.authFormElem {
    color: darkgreen;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-family: Roboto Slab;
    border-radius: 4px;
    font-size: 20px;
}

.submitButton {
    padding-top: 30px;
}